/* Universal Selectors */
* {
    background-color: #F8F7F7;
    font-family: 'Gafata', sans-serif;
}

body {
    margin: 0 auto;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
}

/* Navigation Selectors */
nav {
    text-align: end;
    align-items: flex-end;
    width: 100%;
    background-color: #9AA4BC;
    line-height: 5rem;
    height: 5rem;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    background-color: #9AA4BC;;
    color: #F8F7F7;
    margin-right: 5%;
    vertical-align: middle;
    z-index: 1;
}

nav a:visited {
    color: none;
}

/* Profile Image Selectors */
#profile-image {
    background-image: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    width: 100%;
    height: auto;
}

#name {
    text-align: center;
    color: #B5B8D2;
}

.code {
    color: #6E869F;
    font-weight: bold;
}

/* Project Selectors */
#work-samples {
    justify-content: center;
    text-align: center;
}

.large-image {
    width: 1000px;
    height: auto;
}

.small-image {
    width: 400px;
    height: auto;
}